@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,200&display=swap');

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


*root{
 color: #1b3238;
}
body {
    background-color: #1b3238;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    z-index: -1000;
}
h2{
 color: white;
 font-family: 'Product sans', sans-serif;
 font-size: 30px;
 margin-right: 100px;
 position: absolute;
 bottom: 45%;
 right: 20%;
 z-index: 1000;


}
#icon{
   width: 110px;
   position: absolute;    
   z-index: 2000;
   left: 30%;
   bottom: 46%;
}

h3{
  font-family: 'Product sans', sans-serif;
    color: white;
    margin-top: 3%;
    margin-left: 120px;
    font-size: 45px;
    letter-spacing: 3pt;
}
cor{
  color: #64d6e1;
}
h4{
  font-family: 'Product sans', sans-serif;
        color: white;
        margin-top: 8%;
        margin-left: 140px;
        font-size: 20px;
    }
    #container
     {
      display: flex;
      justify-content: space-around;
      align-items: center;
     }
    .card {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 210px 210px 80px;
        grid-template-areas: "image" "text" "stats";
        border-radius: 18px;
        background: linear-gradient(to bottom, #ffffff, #f2f6ff, #dcefff, #beeaff, #9ae6ff, #7fdef2, #64d6e1, #4bcece, #39c0b8, #28b2a2, #1aa48c, #0f9676);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        font-family: 'Product Sans', sans-serif;
        text-align: center;
        transition: 0.5s ease;
        cursor: pointer;
        margin-left: 80px;
      }
      .card-image {
        grid-area: image;
        background: url("https://media.discordapp.net/attachments/362988933493030912/884620037590224926/artificial-intelligence-3685928_960_720.png");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;
      }
      .card-text {
        font-family: 'Product sans', sans-serif;
        grid-area: text;
        margin: 25px;
      }
      .card-text p {
        font-family: 'Product sans', sans-serif;
        color: black;
        font-size:15px;
      }
      .card-text h2 {
        font-family: 'Product sans', sans-serif;
        margin-top:0px;
        font-size:28px;
      }
      .card:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      }
      #faixa1{
        background: linear-gradient(to bottom, #1b3238, #1b3238, #1b3238, #1b3238, #1b3238, #173c43, #0f464d, #005056, #006867, #008071, #009974, #29b170);
        width: 100%;
        height: 800px;
      }
      h5{
        margin-top: 20px;
        font-family: 'Product sans', sans-serif;
        color: white;
        margin-left: 33%;
        font-size: 20px;
      }